.alexander-certified
  margin-bottom: 2%

.bg-primary
  color: #fff

body
  margin-top: 3%

.card-block
  text-align: justify

#creditspanel
  display: none

  a, .credit
    color: #000
    font-weight: bold
  a
    text-decoration: underline
    &:hover
      text-decoration: none

.row
  margin-bottom: 2%
