.alexander-certified
  margin-bottom: 2%

.bg-primary
  color: #fff

body
  margin-top: 3%

.card-block
  text-align: justify

#creditspanel
  display: none

  h1
    margin-bottom: 2%
    text-align: center

  .card
    margin-bottom: 1em

  .label
    text-decoration: bold
  .score
    font-size: 250%
  .scoreEquiv
    font-size: 75%

.creditsection
  a, .credit
    color: #000
    font-weight: bold
  a
    text-decoration: underline
    &:hover
      text-decoration: none

kbd
  background-color: #eee
  color: #222
  border: none
  border-bottom: 1px solid #555
  border-radius: 0.25em
  margin: 0 0.2em

.row
  margin-bottom: 2%
